@import './base.css';

@font-face {
  font-family: 'Maplestory-light';
  src: url('@/assets/fonts/maplestory_light.ttf');
  font-weight: normal;
  font-style: normal;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  overflow: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Maplestory-light, serif !important;
}

* {
  font-family: Maplestory-light, serif !important;
}

.text-h4, .text-h5, .text-h6 {
  font-family: Maplestory-light, serif !important;
}

.no-drag {
  -webkit-user-select: none; /* Safari용 */
  -moz-user-select: none;    /* Firefox용 */
  -ms-user-select: none;     /* IE와 Edge용 */
  user-select: none;         /* 비표준 브라우저용 */
}

.white-counter .v-counter {
  color: white;
}

